.background-image{
    background-image: url("./../img/utilites/home-bg.jpg");
}

.logo{
    max-width: 100px;
}

.hero-content{
    height: 60vh;
    margin-top: 150px;
}

.hero-text{
    color: white;
}

.hero-text h1{
    font-weight: bold;
    font-size: 3em;
}

.hero-input-container{
    max-width: 500px !important;
}

.hero-input{
    padding: 15px !important;
}

.hero-btn{
    padding: 7px 25px !important;
}

.btn-bgcolor{
    background-color: #e50914;
    color: white;
}

.btn-bgcolor:hover{
    background-color: #c50b15;
    color: white;
}

/* trending-now */

.flex-container{
    flex: 0 0 auto;
}


.poster-wrapper{
    flex: 0 0 auto;
    min-width: 50px;
    max-width: 160px;
}

.poster-wrapper img{
    border-radius: 15px;
}


.overflow-x-auto{
    overflow-x: auto;
    overflow-y: hidden;
}

/* More-Reason-to-Join */
.card-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-content{
    /* background-color: red; */
    padding: 5px; 
}

.icon {
    width: 70px;
    height: 70px;
}

/* FAQ */

.faq-item{
    background-color: #353434;
    color: #ffffff;
    padding: 5px;
    margin-bottom: 13px;
}

.faq-item:hover{
    background-color: #575454;
}

.faq-icons{
    width: 30px;
}

.faq-icons img{
    color: white;
}

.faq-answer{
    border-top: 2px solid black;
}

/* footer */
.footer{
    margin-bottom: 150px;
}

.footer a{
    display: block;
    margin-bottom: 10px;
    color: #333;
}
