.background-image{
    background-image: url("./../img/utilites/hero-bg.jpg");
}

.logo{
    max-width: 100px;
}

.hero-content{
    height: 60vh;
    margin-top: 150px;
}

.hero-text{
    color: white;
}

.hero-text h1{
    font-weight: bold;
    font-size: 3em;
}

.hero-input-container{
    max-width: 500px !important;
}

.hero-input{
    padding: 15px !important;
}

.hero-btn{
    padding: 7px 25px !important;
}

.btn-bgcolor{
    background-color: #e50914;
    color: white;
}

.btn-bgcolor:hover{
    background-color: #c50b15;
    color: white;
}

/* trending-now */

.flex-container{
    flex: 0 0 auto;
}


.poster-wrapper{
    flex: 0 0 auto;
    width: 30%;
    min-width: 50px;
    max-width: 200px;
    margin-right: 5px;
}

.poster-wrapper img{
    border-radius: 20px;
    height: 100%;
    transition: transform 0.3s ease;
}

.poster-wrapper img:hover{
    transform: scale(1.05) ;
}

.number{
    color: black;
    font-size: 80px;
    top: 60%;
    left: -20px;
    transform: translateY(-50%);
    z-index: 5;
    -webkit-text-stroke: 2px white;
    position: relative;
    font-weight: bold;
}

.overflow-x-auto{
    overflow-x: auto;
    overflow-y: hidden;
}

#trending-row::-webkit-scrollbar {
    display: none; 
  }

.arrow{
    background-color: #353434;
    color: white;
    padding-right: 2px;
    padding-left: 2px;
    cursor: pointer;
}

.arrow:hover{
    background-color: #575454;
}

#arrow-left{
    top: 50%;
    left: -25px;
    transform: translateY(-50%); /*centering the arrow relative to it's self */
}

#arrow-right{
    top: 50%;
    right: -25px;
    transform: translateY(-50%); /*centering the arrow relative to it's self */
}

/* More-Reason-to-Join */
.card-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-content{
    /* background-color: red; */
    padding: 5px; 
}

.icon {
    width: 70px;
    height: 70px;
}

/* FAQ */

.faq-item{
    background-color: #353434;
    color: #ffffff;
    padding: 5px;
    margin-bottom: 13px;
}

.faq-item:hover{
    background-color: #575454;
}

.faq-icons{
    width: 30px;
}

.faq-icons img{
    color: white;
}

.faq-answer{
    border-top: 2px solid black;
}

/* footer */
.footer{
    margin-bottom: 150px;
}

.footer a{
    display: block;
    margin-bottom: 10px;
    color: #333;
}


@media(max-width: 576px){
    .arrow{
        display: none;
    }
}
